@page
@using UneContFinancial.Models
@model UneContFinancial.Pages.Notas.IndexModel

@{
    ViewData["Title"] = "Lista de Notas";
}
<form method="get">
    <div class="row">
        <div class="col-auto">
            <div class="form-group mb-3">
                <select id="TipoFiltro" name="TipoFiltro" class="custom-select">
                    <option>Filtrar por:</option>
                    <option value="1">Mês de emissão da nota</option>
                    <option value="2">Mês que a cobrança foi realizada</option>
                    <option value="3">Mês que o pagamento foi realizado</option>
                    <option value="4">Status da nota</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group mb-3">

                <div id="filtroMes" style="display: none;">
                    <input type="month" id="FiltroMes" name="FiltroMes" value="@Model.FiltroMes" class="form-control" placeholder="Informe o Mês" />
                </div>

                <div id="filtroStatus" style="display: none;">
                    <select id="FiltroStatus" name="FiltroStatus" class="custom-select">
                        <option value="">Selecione o status</option>
                        <option value="@StatusNota.Emitida">Emitida</option>
                        <option value="@StatusNota.CobrancaRealizada">Cobrança Realizada</option>
                        <option value="@StatusNota.PagamentoEmAtraso">Pagamento em Atraso</option>
                        <option value="@StatusNota.PagamentoRealizado">Pagamento Realizado</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-auto">
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-secondary">Filtrar</button>
            </div>
        </div>
        <div class="col-auto float-end">
            <div class="form-group mb-3">
                <a asp-page="Create" class="btn btn-primary float-end" title="Adicionar Nota">Adicionar Nota</a>
            </div>
        </div>
    </div>
</form>

<div class="row mt-2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nota[0].NumeroIdentificacao)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nota[0].NomePagador)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nota[0].DataEmissaoNota)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nota[0].DataCobranca)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nota[0].DataPagamento)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nota[0].Valor)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nota[0].Status)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Nota)
            {
                var inadimplente = string.Empty;

                @if (@item.Status == StatusNota.PagamentoEmAtraso) inadimplente = @" class=table-danger";

                <tr @inadimplente>
                    <th scope="row">@item.NumeroIdentificacao</th>
                    <td>@item.NomePagador</td>
                    <td>
                        @if (@item.DataEmissaoNota != null)
                            @item.DataEmissaoNota?.ToShortDateString()
                    </td>
                    <td>
                        @if (@item.DataCobranca != null)
                            @item.DataCobranca?.ToShortDateString()
                    </td>
                    <td>
                        @if (@item.DataPagamento != null)
                            @item.DataPagamento?.ToShortDateString()
                    </td>
                    <td>@item.Valor.ToString("C")</td>
                    <td>@item.Status</td>
                    <td class="align-middle">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn-sm btn-primary p-2" title="Editar"><i class="bi bi-arrow-repeat"></i></a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn-sm btn-secondary p-2" title="Visualizar"><i class="bi bi-box-arrow-up-right"></i></a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn-sm btn-danger p-2" title="Deletar"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ul class="pagination justify-content-end">
        @if (Model.Nota.HasPreviousPage)
        {
            <li class="page-item">
                <a asp-page="./Index" 
                    asp-route-pageIndex="@(Model.Nota.PageIndex - 1)"
                    asp-route-tipoFiltro="@(Model.TipoFiltro)"
                    asp-route-filtroMes="@(Model.FiltroMes)"
                    asp-route-filtroStatus="@(Model.FiltroStatus)"
                    class="page-link">Anterior</a>
            </li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link">Anterior</a></li>
        }

        @if (Model.Nota.HasNextPage)
        {
            <li class="page-item">
                <a asp-page="./Index" 
                    asp-route-pageIndex="@(Model.Nota.PageIndex + 1)"
                   asp-route-tipoFiltro="@(Model.TipoFiltro)"
                   asp-route-filtroMes="@(Model.FiltroMes)"
                   asp-route-filtroStatus="@(Model.FiltroStatus)"
                class="page-link">Próximo</a></li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link">Próximo</a></li>
        }
    </ul>

</div>


